{% load static %}
<html>
<head>
  <title>django-chartjs line chart demo</title>


  <!--[if lte IE 8]>
	<script src="{% static 'js/excanvas.js' %}"></script>
  <![endif]-->
</head>

<body>
  <h1>Welcome to Covid-19 Post-Vaccination SurveyApp!</h1>
  <div id="container" style="width: 40%;">
    <canvas id="chart" data-url="{% url 'chart' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $chart = $("#chart");
      $.ajax({
        url: $chart.data("url"),
        success: function (data) {

          var ctx = $chart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                backgroundColor: ['rgb(69, 126, 205)','rgb(220, 121, 213)','rgb(222, 230, 105)'],
                label: "Prevaccination health issues based on gender",
                data: data.data,
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Bar Chart'
              },
              scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                }]
              },
              title: {
                display: false
              },
            }
          });

        }
      });

    });

  </script>

</body>
</html>